<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="host" value="relay1.cris.net"/>
      <add key="BodyTemplate" value="template.html"/>
      <add key="TaskTemplate" value="TaskTemplate.html"/>
      <add key="Tasks" value="Tasks.txt"/>
      <add key="SubjectTemplate" value="SubjectTemplate.txt"/>
      <add key="SendTo" value="th-pm@softwarium.net"/>
      <!--  <add key="BccSendTo" value="aboimov@softwarium.net"/> -->
      <add key="From"  value="Sergey Aboimov &lt;aboimov@softwarium.net&gt; "/>
  </appSettings>
</configuration>